
.small-staff-picks { @include block-grid($per-row: 1, $spacing: 0px, $base-style: true); }
.medium-staff-picks { @include block-grid($per-row: 2, $spacing: 20px, $base-style: true); }
.large-staff-picks { @include block-grid($per-row: 2, $spacing: 20px, $base-style: true); }

.staff-pick {
  @extend .tile;

  .year {
    display:    inline;
    font-size:  24px;
  }

  .price {
    display:    inline;
    font-size:  32px;
    float:      right;
    color:      $accent;
  }

  .producer {
    font-size:  28px;
    font-weight: bold;
    color:      lighten($text, 10%);
  }

  .brand {
    font-size:  28px;
    font-style: italic;
  }

  .notes {
    color:      $subtle-text;
    font-size:  20px;
  }

  .wine-label {
    img {
      margin: 10px 0 10px 0;
      display: block;
      height:   250px;
      width:    auto;
      max-width: 100%;      
      margin-left:  auto;
      margin-right: auto;
    }
  }
}

.events {
  @include background(linear-gradient(darken($accent, 20%), darken($accent, 10%)));
  color: $background;

  span {
    display: block;
  }

  h1 {
    font-style: italic;
    margin-left: 10px;
    color: $background;
  }

  .date {
    font-size: 28px;
  }

  .title {
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    color: darken($background, 10%)
  }

  .description {
    font-size: 20px;
   }
}
